.testItem {
	width: 100%;
	max-width: 1000px;
	height: 110px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #F0F1F7;
	border-radius: 20px;
	gap: 16px;
}

.testItem > svg:first-child {
	margin-left: 16px;
}

.name {
	font-size: 1.7rem;
	font-weight: 700;
}

.testItem > div:nth-child(2) {
	height: 100%;
	flex: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
	word-break: keep-all;
}

.icon {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.takenAt {
	font-size: 1.3rem;
	font-weight: 500;
}

.button {
	flex: 1;
	margin-right: 10px;
	display: flex;
	height: 90px;
	max-width: 120px;
}

.button > a {
	width: 100%;
	min-width: 90px;
}

.button a {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 600;
	background-color: #124658;
	color: #FFFFFF;
	text-decoration: none;
}

.button a:hover {
	background-color: #18566E;
}

.button a:active {
	background-color: #103D4D;
}

.button .disabled, .button .disabled:hover, .button .disabled:active {
	background-color: #06161B;
	cursor: default;
}

.disabled > svg {
	opacity: 0.3;
}

.button > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 45px;
}

.button > a:first-child {
	border-radius: 10px 10px 0 0;
	border-bottom: 1px solid white;
}

.button > a:last-child {
	border-radius: 0 0 10px 10px;
}

.button > div:first-child {
	border-right: 1px solid white;
}

.button > div > a:first-child {
	border-bottom: 1px solid white;
}

.button > div:first-child > a:first-child {
	border-radius: 10px 0 0 0;
}

.button > div:first-child > a:last-child {
	border-radius: 0 0 0 10px;
}

.button > div:last-child > a:first-child {
	border-radius: 0 10px 0 0;
}

.button > div:last-child > a:last-child {
	border-radius: 0 0 10px 0;
}

.buttonIcon {
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: #FFFFFF;
}

@media (width <= 840px) {
	.name {
		font-size: 1.5rem;
	}
	.takenAt {
		font-size: 1.2rem;
	}
	.icon {
		width: 65px;
		height: 65px;
	}
	.button a > p {
		display: none;
	}
}

@media (width <= 630px) {
	.name {
		font-size: 1.3rem;
	}
	.takenAt {
		font-size: 1.1rem;
	}
	.icon {
		width: 55px;
		height: 55px;
	}
	.testItem {
		gap: 8px;
		height: 100px;
	}
	.button {
		height: 80px;
	}
	.button > a {
		min-width: 80px;
	}
	.button > div {
		min-width: 40px;
	}
	.buttonIcon {
		height: 20px;
	}
}

@media (width <= 490px) {
	.name {
		font-size: 1.1rem;
	}
	.takenAt {
		font-size: 1rem;
	}
	.icon {
		width: 45px;
		height: 45px;
	}
	.testItem {
		gap: 6px;
		height: 90px;
	}
	.button {
		height: 70px;
	}
	.button > a {
		min-width: 70px;
	}
	.button > div {
		min-width: 35px;
	}
	.buttonIcon {
		height: 18px;
	}
}